body {
  background-color: black;
  color: white;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-menu {
  margin-bottom: 100px;
  margin-top: 20px;
}

.menu > .menu-item-active >a {
  display: block;
  min-width: 140px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}
.logo {
  background-image: url(images/logo.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-top: -80px;
  margin-bottom:-70px;
}

.menu {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu > .menu-item > a {
  display: block;
  min-width: 140px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.menu > .menu-item-active > a:hover{
  color: grey;
  border-bottom: 2px solid darkgrey;
}
.menu > .menu-item > a:hover{
  color: grey;
}

.container_text{      /* Rick*/
/* border: 2px solid red; */
clear: both;
display: flex;
margin-left: -10px;
margin-right: -10px;
flex-direction: row;
justify-content: center;
/* background-color: darkgray; */
}
.sobre_text{                   /* Rick*/
/* border: 2px solid red; */
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 10px;
width: 80%;
padding: 15px;
}

.slider{        /*Rick */
  background-image: url(images/e3.jpg);
  background-size: cover;
  margin: 10px;
  width: 600px;
  height:400px;
  /* border: 2px solid red; */
  animation: slide 40s infinite;
  border-radius: 5%;

}

@keyframes slide {  /*Rick */

33%{
  background-image: url(images/e1.jpg);
background-size: cover;
  }
33%{
  background-image: url(images/e2.jpg);
  background-size: cover;
  }
100%{
  background-image: url(images/e3.jpg);
  background-size: cover;
  }
}

.toggle-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  display: none;
  cursor: pointer;
}

#toggle-menu-controller {
  display: none;
}

.toggle-menu:hover{
  color: grey;
}

#toggle-menu-controller:checked ~ .menu {
  display: block;
  margin-top: 120px;
  margin-bottom: -120px;
}




.artistas{
  width: 90%;
  height: 90%;
  margin: 30px;
  justify-content: center;
  margin-bottom: -300px;
}


.text{
  float: left;
  width: 70%;
  margin-top: 50px;
  margin-left: 20px;
}

.container-pic-social {
  width: 25%;
  float: left;
}
.artista1pic{
  background-image: url(images/artista1.jpg);
  background-size: cover;
  margin-left: 30px;
  width: 500px;
  height: 500px;
  margin-top: 100px;
  zoom: 50%;
  border-radius: 100px;
}


.social-media {
  clear: both;
  display: flex;
  width: 50%;
  margin-top: 5px;
  margin-left: 110px;
}
.insta {
  zoom:16%;
}
.face {
  zoom:10%;
}

.artista-bio{
  margin-top: 20px;
}
.artista2pic{
  background-image: url(images/artista2.jpg);
  background-size: cover;
  margin-left: 30px;
  width: 500px;
  height: 500px;
  margin-top: 100px;
  zoom: 50%;
  border-radius: 100px;
}

.artista-name{
  margin-top: 30px;
  text-align: center;
}
.artist-name{
  text-align: center;
  margin-bottom: -30px;
}
.container-artist{
  width: 250px;
  margin: auto;
}

.galeria{
  clear: both;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.artista1-pic-galeria{
  background-image: url(images/artista1.jpg);
  background-size: cover;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  width: 500px;
  height: 500px;
  margin-top: 100px;
  zoom: 50%;
  border-radius: 100px;
}

.artista2-pic-galeria{
  background-image: url(images/artista2.jpg);
  background-size: cover;
  /* margin-left: 100px;
  margin-right: 100px; */
  width: 500px;
  height: 500px;
  margin-top: 100px;
  zoom: 50%;
  border-radius: 100px;
}


.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding:  3px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}

@media screen and (max-width : 550px) {

  .logo{   /*Rick */
    margin-top: -40px;
    width: 300px;
    height: 300px;
    margin-bottom:-40px;
  }

  .menu {
    display: none;
  }

  .toggle-menu {  /*Rick */
    zoom:200%;
    display: block;
    margin-top: -20px;
    margin-bottom: -70px;
  }

.menu > .menu-item-active >a{ /*  Rick*/
  border-bottom: none;
}
  .container_text{      /* Rick*/
  /* border: 2px solid red; */
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  flex-direction: column;
  /* background-color: darkgray; */
  }

.sobre_text{  /*Rick */
  font-size: 15px;
  width: 100%;
}

.slider{     /*Rick */
  clear: both;
  width: 95%;
}
}


.map{
  zoom: 30%;
}
