body {
  background-color: black;
  color: white;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  background-image: url(images/logo.png);
  background-size: cover;
  width: 500px;
  height: 500px;
  margin-top: -80px;

}

.menu {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu > .menu-item > a {
  display: block;
  min-width: 140px;
  height: 30px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
}
.menu > .menu-item > a:hover{
  color: grey;
}

.toggle-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  display: none;
  cursor: pointer;

}

#toggle-menu-controller {
  display: none;
}

.toggle-menu:hover{
  color: grey;
}

#toggle-menu-controller:checked ~ .menu {
  display: block;

}

@media screen and (max-width : 760px) {

  .menu {
    display: none;
  }

  .toggle-menu {
    zoom:300%;
    display: block;
  }
}

.artista1{
  background-image: url(images/artista1.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 300px;
  margin-top: 100px;
}
.artista1name{
  margin-top: 30px;
  text-align: center;
}

.artista1bio{
  text-align: center;
}
.artista2{
  background-image: url(images/artista2.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.artista2name{
  margin-top: 30px;
  text-align: center;
}

.artista2bio{
  text-align: center;
}
